body {
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    background-color: white;
    color: #000000;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 200px;
    background: #1F0E0F;
    padding: 10px;
    height: 680px;
}

.navbar a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 4px;
}

.navbar-name-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    color: white;
}

.navbar-name-icon p {
    font-size: 12px;
    margin-top: -15px;
}

.navbar-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    margin-top: 50px;
}

.navbar-box button {
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 14px;
    color: #000000;
    background-color: #ffffff;
    padding: 10px 60px;
    border: none;
    box-shadow: none;
    border-radius: 1px;
    transition : 500ms;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px;
    }

.navbar-box button:hover{

    transition : 500ms;
    padding: 10px 70px;
    background-color: #c4c4c4;
    color: #ffffff;
}



table {
    width: 100%;
    border-collapse: collapse;
    margin-left: 100px;
}

th, td {
    border: 1px solid black;
    padding: 20px;
    text-align: left;
}

th {
    background-color: wheat;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

.btn {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    margin-top: 20px;
    margin-left: 100px;
}

.btn:hover {
    background-color: #0069d9;
}

.funcionarios-h1{
    margin-top: 20px;
    margin-bottom: 80px;
    margin-left: -180px;
}